{% load staticfiles %}

<html>
    <head>
        <title>Nota de débito {{ codigo_nota }}</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/ndpdf.css" %}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">
                        <strong>DXM CONSULTORIA LTDA - ME</strong>
                    </h2>
                    <h3 class="text-center">
                        <strong>NOTA DE DÉBITO: {{ codigo_nota }}</strong>
                    </h3>
                    <br />
                    <h4>Emissão: {{ data_emissao }}</h4>
                    <h4>Vencimento: {{ data_vencimento }}</h4>

                    <br />

                    <h3>
                        Empresa:
                    </h3>
                    <h4>Nome: {{ nome_empresa }}</h4>
                    <h4>Endereço: {{ endereco_empresa }}</h4>
                    <h4>Município: {{ municipio_empresa }}</h4>
                    <h4>CEP: {{ cep_empresa }}</h4>
                    <h4>CNPJ: {{ cnpj_empresa }}</h4>

                    <br />

                    <h3>
                        Dados Bancários para depósito:
                    </h3>
                    <h4>Banco: {{ nome_banco }}</h4>
                    <h4>Agência: {{ agencia_banco }}</h4>
                    <h4>Conta: {{ conta_banco }}</h4>
                    <h4>CNPJ: {{ cnpj_banco }}</h4>

                    <br />

                    <h3>
                        Despesas
                    </h3>
                    <table class="table table-bordered differentTable">
                        <thead>
                            <tr>
                                <th>
                                    Histórico
                                </th>
                                <th>
                                    Analista
                                </th>
                                <th>
                                    Cliente
                                </th>
                                <th>
                                    Despesa
                                </th>
                                <th>
                                    Valor
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{ historico_despesa }}
                                </td>
                                <td>
                                    {{ analista_despesa }}
                                </td>
                                <td>
                                    {{ cliente_codigo }} - {{ cliente_despesa }}
                                </td>
                                <td>
                                    {{ despesa_despesa }}
                                </td>
                                <td>
                                    R$ {{ valor_despesa }}
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>

                    <div id="assinatura">
                        <div id="assinatura_dados">
                            <img alt="Assinatura" src="{% static "imagem/assinatura.png" %} " height="65" width="320"/>
                            <div id="underscore">__________________________________________</div>
                            <h5>Diogo Ximenes de Moura – DXM Consultoria&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                        </div>
                    </div>

                    <div id="rodape">
                      <div id="imagem">
                          <img alt="Totvs Partner" src="{% static "imagem/totvs_partner.png" %}" />
                      </div>
                      <div id="dados">
                          <h5>Rua Argemiro Tech Furtado, 95, Jardim Califórnia</h5>
                          <h5>Pouso Alegre - MG - CEP 37550-000</h5>
                          <h5>Tel: 55 35 98800-2754</h5>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>